Options +FollowSymlinks
RewriteEngine On

RewriteRule ^/$ index.php [L]
RewriteRule ^view/([a-z,A-Z]+)$ index.php?filtre=$1 [L]
RewriteRule ^view/([a-z,A-Z]+)/order/([a-z,A-Z]+)$ index.php?filtre=$1&order=$2 [L]
RewriteRule ^view/([a-z,A-Z]+)/limit/([0-9+])$ index.php?filtre=$1&limit=$2 [L]
RewriteRule ^view/([a-z,A-Z]+)/order/([a-z,A-Z]+)/limit/([0-9+])$ index.php?filtre=$1&order=$2&limit=$3 [L]